.alerta-contenedor{
    background-color: coral;
    color: wheat;
    border-radius: 10px;
    width: 90%;
}


.alerta-parrafo{
    color: crimson;
}

.btn-primary{
    background-color: green !important;
}