.empty-cart{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.empty-cart p{
    font-size: 24px;
    font-weight: bold;
    color: rgb(5, 5, 73);
}

.empty-cart button{
    background: rgb(230, 107, 128);
    color: white;
    font-size: 18px;
    height: 50px;
}