.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listContainer{
  background: pink;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
}

.cardsContainer{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: space-between;
  padding: 10px;
}

.card{
  background: white;
  border: 1px solid black;
  height: 120px;
}

.cardImg{
  width: 50px;
  border-radius: 50%;
  background-color: aquamarine;
}

.msgContainer{
  margin: 10px;
  background: orange;
}

p{
  margin: 0;
  font-size: 10px;
  color: black;
}